<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  
  <!-- custom nodes for vision testing and following control -->
  <node pkg="ford_project" type="vision_test.py" name="vision_tracker">
  	<param name="range_lost_threshold" type="int" value="10000"/>
  </node>
  <node pkg="ford_project" type="simple_follower.py" name="simple_follower">
  	<param name="state_init" value="Idle"/>
  	<param name="human_input_mode" value="tilt_control"/>
  	<param name="dist_desired_follower" type="double" value="0.6"/>
  	<param name="kp_linear" type="double" value="1.0"/>
  	<param name="kp_angular" type="double" value="2.0"/>
  	<param name="dist_range_min" type="double" value="0.5"/>
  	<param name="dist_range_max" type="double" value="3.0"/>
  	<param name="pitch_offset" type="double" value="0.1"/>
  	<param name="roll_offset" type="double" value="0.2"/>
  </node>
  <node pkg="ford_project" type="velocity_smoother.py" name="velocity_smoother">
  	<param name="maximum_increment_linear" type="double" value="0.01"/>
  	<param name="maximum_increment_angular" type="double" value="0.02"/>
  	<param name="velocity_cap_linear" type="double" value="0.5"/>
  	<param name="velocity_cap_angular" type="double" value="1.0"/>
  	<remap from="cmd_vel_smooth" to="cmd_vel_mux/input/teleop"/>
  </node>
</launch>
