<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  
  <!-- custom nodes for vision testing and following control -->
  <node pkg="ford_project" type="vision_test.py" name="vision_tracker"/>
  <node pkg="ford_project" type="simple_follower.py" name="simple_follower"/>
</launch>
