<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  
  <!-- custom nodes for vision testing and following control -->
  <node pkg="ford_project" type="vision_aruco" name="vision_tracker">
  	<param name="camera_info_file" value="$(find ford_project)/camera_calibration/kinect_rgb.yml"/>
  </node>
  <node pkg="ford_project" type="simple_follower.py" name="simple_follower">
  	<param name="state_init" value="Idle"/>
  	<param name="human_input_mode" value="tilt_control"/>
  	<param name="dist_desired_follower" type="double" value="0.9"/>
  	<param name="kp_linear" type="double" value="2.0"/>
  	<param name="kp_angular" type="double" value="6.0"/>
	<param name="kd_linear" type="double" value="0.3"/>
  	<param name="kd_angular" type="double" value="0.5"/>
	<param name="kb_linear" type="double" value="0.1"/>
  	<param name="kb_angular" type="double" value="0.5"/>
  	<param name="dist_range_min" type="double" value="0.5"/>
  	<param name="dist_range_max" type="double" value="3.0"/>
  	<param name="pitch_offset" type="double" value="0.1"/>
  	<param name="roll_offset" type="double" value="0.2"/>
	<param name="stuck_count_limit" type="int" value="50"/>
  </node>
  <node pkg="ford_project" type="velocity_smoother.py" name="velocity_smoother">
  	<param name="maximum_increment_linear" type="double" value="0.02"/>
  	<param name="maximum_increment_angular" type="double" value="1.0"/>
  	<param name="velocity_cap_linear" type="double" value="1.0"/>
  	<param name="velocity_cap_angular" type="double" value="3.0"/>
  	<remap from="cmd_vel_smooth" to="cmd_vel_mux/input/teleop"/>
  </node>
</launch>
